---
import MapPin from "phosphor-astro/MapPin.astro";
import Student from "phosphor-astro/Student.astro";
import Code from "phosphor-astro/Code.astro";
import Database from "phosphor-astro/Database.astro";
import Java from "phosphor-astro/Coffee.astro";

// import Personal from "./public/personal.jpg";

// import React from "./public/react.png";
// import Javascript from "./public/Javascript.png";
// import Tailwind from "./public/tailwind.png";
// import Astro from "./public/astro.jpg";

import InstagramLogo from "phosphor-astro/InstagramLogo.astro";
import WhatsappLogo from "phosphor-astro/WhatsappLogo.astro";
import CaretRight from "phosphor-astro/CaretRight.astro";
import { Image } from "astro:assets";

const Cards = [
	{
		id: "location",
		title: "Pilar, Buenos Aires",
		icon: MapPin,
	},
	{
		id: "Whatsapp",
		title: "Whatsapp",
		icon: WhatsappLogo,
		ref: "https://wa.me/5491128611753",
	},
	{
		id: "Instagram",
		title: "Instagram",
		icon: InstagramLogo,
		ref: "https://www.instagram.com/francolacava/",
	},
	{
		id: "student",
		title: "Estudiante de Ciencias de Datos en la UBA",
		icon: Student,
	},
	{
		id: "web",
		title: "Backend & Frontend developer",
		icon: Code,
	},
];

const hiddenCards = [
	{
		id: "React",
		title: "React",
		image: "./react.png",
		type: "image",
	},
	{
		id: "Javascript",
		title: "Javascript",
		image: "./Javascript.png",
		type: "image",
	},
	{
		id: "Tailwind",
		title: "Tailwind",
		image: "./tailwind.png",
		type: "image",
	},
	{
		id: "Astro",
		title: "Astro",
		image: "./astro.jpg",
		type: "image",
	},
	{
		id: "Database",
		title: "Database (mongoDB)",
		icon: Database,
	},
	{
		id: "Java",
		title: "Java",
		icon: Java,
	},
];
---

<style>
	@keyframes fadeIn {
		from {
			opacity: 0;
			transform: translateY(-50px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@keyframes fadeOut {
		from {
			opacity: 1;
			transform: translateY(0);
		}
		to {
			opacity: 0;
			transform: translateY(-50px);
		}
	}

	.hiddenCard {
		opacity: 0;
		transition:
			opacity 0.3s ease,
			transform 0.3s ease;
		transform: translateY(20px);
	}

	.hiddenCard.show {
		animation: fadeIn 0.3s ease-out forwards;
	}

	.hiddenCard.hide {
		animation: fadeOut 0.3s ease-out forwards;
	}

	.card {
		position: relative;
		display: flex;
		align-items: center;
		gap: 1rem;
		padding: 1rem;
		border-radius: 1rem;
		background: linear-gradient(to right, #2b2b2b, #1e1e1e);
		border: 1px solid rgba(255, 255, 255, 0.1);
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	}

	.card p {
		color: #e0e0e0;
		font-size: 1.1rem;
	}

	.card img {
		width: 2rem;
		height: 2rem;
	}

	.cardIcon {
		color: #5cace5;
		transition: color 0.3s ease;
	}

	.hiddenTrigger {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem 2rem;
		border-radius: 1rem;
		background: #1e1e1e;
		border: 1px solid rgba(255, 255, 255, 0.1);
		color: #e0e0e0;
		cursor: pointer;
		transition:
			transform 0.3s ease,
			background 0.3s ease,
			color 0.3s ease;
	}

	.hiddenTrigger:hover {
		background: #2b2b2b;
		color: #ffffff;
		transform: translateY(-5px);
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	}
</style>

<script>
	const button = document.getElementById("web");
	const cards = document.querySelectorAll(".hiddenCard");
	let isShowing = false;

	button?.addEventListener("click", () => {
		isShowing = !isShowing;
		cards.forEach((card) => {
			card.classList.toggle("show", isShowing);
			card.classList.toggle("hide", !isShowing);
		});
	});
</script>

<div
	class="flex flex-col lg:flex-row w-[90%] text-white min-h-[700px] mt-10 m-auto bg-[#1a1a1a]/40 backdrop-blur-sm rounded-2xl border border-white/10 shadow-xl p-6 gap-8"
>
	<div class="flex flex-col mt-5 lg:w-1/3 gap-5">
		<Image
			src="./personal.jpg"
			alt="personal"
			loading="eager"
			fetchpriority="high"
			class="object-cover size-96 rounded-full border-4 border-white/10 shadow-2xl md:hover:scale-105 transition-transform duration-300"
		/>
		<p class="text-md text-white/80">
			Estudiante de primer año en Ciencias de Datos en la UBA,
			desarrollador web y apasionado por la tecnología. Juego al rugby en
			Deportiva Francesa, deporte que me enseñó a ser parte de un equipo y
			ser una persona honesta.
		</p>
	</div>

	<div class="flex flex-col justify-center gap-8 p-4 lg:w-2/3">
		<h1
			class="text-4xl lg:text-6xl font-bold text-white bg-clip-text text-transparent"
		>
			Franco Lacava Botte
		</h1>
		<div class="grid grid-cols-1 md:grid-cols-2 w-full gap-4">
			{
				Cards.map((card) => (
					<div
						class="card md:hover:scale-105 transition-transform duration-300 "
						id={`${card.id}`}
						onclick={
							card.ref && `window.location.href='${card.ref}'`
						}
					>
						<card.icon class="cardIcon size-6" />
						<p>{card.title}</p>
						{(card.ref || card.id === "web") && (
							<CaretRight class="cardIcon size-6 ml-auto" />
						)}
					</div>
				))
			}
		</div>

		<div class="grid grid-cols-1 md:grid-cols-2 w-full gap-4 mt-6">
			{
				hiddenCards.map((card) => (
					<div class="card hiddenCard md:hover:scale-105 transition-transform duration-300">
						{card.icon ? (
							<card.icon class="cardIcon size-6" />
						) : (
							<img src={card.image} alt={card.title} />
						)}
						<p>{card.title}</p>
					</div>
				))
			}
		</div>

		<div class="hiddenTrigger" onclick={`window.location.href='#proyects'`}>
			<p class="text-2xl font-light">Conocer mis proyectos</p>
			<CaretRight class="size-6 ml-auto" />
		</div>
	</div>
</div>
